/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-oct-2019, 10:39:45
    Author     : enrique
*/


#menu {
    padding: 0;
    padding-left: 11em;
    background-color: Transparent;
    background-repeat:no-repeat;
    border-bottom: 3px solid darkblue;
    border-top: 3px solid darkblue;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 25px;
    font-family: Calibri;
}

#menu li {
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
}


.logo{
    margin-left: -153px;
    margin-right: -100px;

    .ImagenGimnasio{
        /* Aumentamos el ancho y la altura durante 1 segundo */
        transition: width 1s, height 1s, transform 1s;
        -moz-transition: width 1s, height 1s, -moz-transform 1s;
        -webkit-transition: width 1s, height 1s, -webkit-transform 1s;
        -o-transition: width 1s, height 1s,-o-transform 1s;     
    }
    .ImagenGimnasio:hover{
        /* tranformamos  su tamaño al pasar el mouse por encima con scale(2.5). */
        transform : scale(1.5);
        -moz-transform : scale(1.5);      /* Firefox */
        -webkit-transform : scale(1.5);   /* Chrome - Safari */
        -o-transform : scale(1.5);        /* Opera */
    }
}