<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>mostrarInformacion</servlet-name>
        <servlet-class>clases.mostrarInformacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mostrarClasesDelHorario</servlet-name>
        <servlet-class>clases.mostrarClasesDelHorario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcesarServletContacto</servlet-name>
        <servlet-class>formulario.ProcesarServletContacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mostrarSocios</servlet-name>
        <servlet-class>clases.mostrarSocios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManejadorClases</servlet-name>
        <servlet-class>clases.ManejadorClases</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarClase</servlet-name>
        <servlet-class>clases.EliminarClase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mostrarInformacion</servlet-name>
        <url-pattern>/mostrarInformacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mostrarClasesDelHorario</servlet-name>
        <url-pattern>/mostrarClasesDelHorario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcesarServletContacto</servlet-name>
        <url-pattern>/ProcesarServletContacto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mostrarSocios</servlet-name>
        <url-pattern>/mostrarSocios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManejadorClases</servlet-name>
        <url-pattern>/ManejadorClases</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarClase</servlet-name>
        <url-pattern>/EliminarClase</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/inicio.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
